<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>极傲炒菜机-网页控制端系统</title>
    <!-- 引入外部 CSS 文件 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tab.css') }}">
</head>
<body>
    <h3>极傲炒菜机-网页控制端系统</h1>

    <div class="connect_outframe">  
      <div class="connect_container">
        <div class="port_row">
            <label for="port">端口:</label>
            <select id="port_select" name="port_select">
                <option value="COM1">COM1</option>
                <option value="COM2">COM2</option>
                <option value="COM3">COM3</option>
                <option value="COM4">COM4</option>
                <option value="COM5">COM5</option>
                <option value="COM6" selected>COM6</option>
                <option value="COM7">COM7</option>
                <option value="COM8">COM8</option>
                <option value="COM9">COM9</option>
                <option value="COM10">COM10</option>
            </select>
        </div>
        <div class="baud_row">
            <label for="baud">波特率:</label>
            <select id="baud_select" name="baud_select">
                <option value="9600">9600</option>
                <option value="19200">19200</option>
                <option value="38400">38400</option>
                <option value="57600">57600</option>
                <option value="115200" selected>115200</option>
            </select>
            <div class="connect_status">
                未连接
            </div>
        </div>
        <div class="connectbtn_row nomb">
            <button onclick="connect()">连接串口</button>
            <button onclick="disconnect()">断开连接</button>
            <button onclick="fixmotor()">电机异常修复</button>
        </div>
      </div>
      <div class="top_container">
         <div class="stopallbtn">
            <button onclick="stopall()">紧急停止</button>
         </div>
         <div class="enableallbtn">
            <button onclick="enableall()">全部使能</button>
         </div>   
      </div>
    </div>  

    <div class="tab-buttons">
        <button class="active" onclick="showTab(1, this)">手动操控区</button>
        <button onclick="showTab(2, this)">测试区</button>
        <button onclick="showTab(3, this)">自动程序区</button>
    </div>


    <div id="tab1" class="tab-content" style="display:block;">
       <div class="function_container">
            <button onclick="resetMotor(1,'left')">1号锅水平复位</button>
            <button onclick="resetMotor(1,'up')">1号锅翻转复位</button>
            <button onclick="resetMotor(2,'right')">2号锅水平复位</button>
            <button onclick="resetMotor(2,'up')">2号锅翻转复位</button>

        </div>
        

       <hr style="border: 1px solid #ccc; width: 100%; margin: 10px auto;">

        <div class="speed_container">
        <label>电机速度:</label>
        <label>
            <input type="radio" name="speed" value="1" checked> 1
        </label><br>
        
        <label>
            <input type="radio" name="speed" value="2"> 2
        </label><br>
        
        <label>
            <input type="radio" name="speed" value="3"> 3
        </label>

        <label>
            <input type="radio" name="speed" value="4"> 4
        </label>

        <label>
            <input type="radio" name="speed" value="5"> 5
        </label>
    </div>

    <div class="motor_container">
        <div class="motor">
            <div class="motor_row fcenter">
                <button ontouchstart="startMotor(1, 'up')" ontouchend="pauseMotor(1,'up')">向内翻转</button>
            </div>
            <div class="motor_row">
                <button ontouchstart="startMotor(1, 'left')" ontouchend="pauseMotor(1,'left')">向左移动</button>
                <div class="motor_tag">1号锅</div>
                <button ontouchstart="startMotor(1, 'right')" ontouchend="pauseMotor(1,'right')">向右移动</button>
            </div>
            <div class="motor_row fcenter">
                <button ontouchstart="startMotor(1, 'down')" ontouchend="pauseMotor(1,'down')">向外翻转</button>
            </div>
        </div>
        <div class="motor ">
            <div class="motor_row fcenter">
                <button ontouchstart="startMotor(2, 'up')" ontouchend="pauseMotor(2,'up')">向内翻转</button>
            </div>
            <div class="motor_row">
                <button ontouchstart="startMotor(2, 'left')" ontouchend="pauseMotor(2,'left')">向左移动</button>
                <div class="motor_tag">2号锅</div>
                <button ontouchstart="startMotor(2, 'right')" ontouchend="pauseMotor(2,'right')">向右移动</button>
            </div>
            <div class="motor_row fcenter">
                <button ontouchstart="startMotor(2, 'down')" ontouchend="pauseMotor(2,'down')">向外翻转</button>
            </div>
        </div>
    </div>



    </div>
    <div id="tab2" class="tab-content">
       <div class="function_container">
            <button onclick="readMotor(1,'left')">读取电机状态测试</button>
            <button onclick="testTask(1,'left')">测试水平任务执行</button>
            <button onclick="testTask(1,'up')">测试翻转任务执行</button>
            <button onclick="testMultiTask()">测试水平翻转任务</button>
        </div>
        <div class="input_container">
            <div class="input_circle">
                <label for="circles">相对运行圈数:</label>
                <input type="text" id="circleval" placeholder="请输入相对运行圈数" />
            </div>
            <div class="input_circle">
                <label for="circles">绝对运行位置:</label>
                <input type="text" id="circlevalabs" placeholder="请输入绝对圈数值" />
            </div>
            <div class="function_container">
                <button onclick="runMotor(1,'left')">1号锅水平相对左移</button>
                <button onclick="runMotor(1,'right')">1号锅水平相对右移</button>
                <button onclick="runMotor(1,'up')">1号锅相对内翻转</button>
                <button onclick="runMotor(1,'down')">1号相对行外翻转</button>
                <button onclick="runMotorabs(1,'left')">1号锅水平绝对移动</button>
                <button onclick="runMotorabs(1,'up')">1号锅绝对翻转移动</button>
            </div>
        </div>
    </div>

    <div id="tab3" class="tab-content" >
    
    </div>

    <div class="prompt">控制台消息</div>
    <div id="status-history"></div> <!-- 用于显示历史消息 -->

    <!-- 引入外部 JS 文件 -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
